body {
  background-image: url(//images1.pixlis.com/background-image-checkers-chequered-checkered-squares-seamless-tileable-black-white-pink-swan-236ktk.png);
  background-repeat: repeat;
  background-position: top left;
  text-align: center;
  font-size: 20px;
  font-family: "Poppins", sans-serif;
  /* font-family: 'Roboto', sans-serif; */
}

h3 {
  font-weight: bold;
  margin-top: 10px;
}

/* 
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */
